.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  h2 {
    font-size: 50px;
    color: yellow;
  }
  div {
    display: flex;
    gap: 30px;
    .card {
      width: 400px;
      height: 600px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      p {
        position: absolute;
        font-size: 32px;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
      }
    }
  }
}
